.container-form {
    padding-top: calc(var(--padding-primary) / 2);
}
.container-form a:hover {
    color: var(--color-active);
}
.container-form .sectoin-header {
    margin-bottom: calc(var(--margin-primary) / 2);
}
.container-form .sectoin-header h2 {
    font-size: 2.4rem;
    color: var(--color-darkest);
}
.card-form {
    border: none;
    background-color: transparent;
    margin-top: calc(var(--margin-primary) / 2);
}
.card-form form .input-form {
    margin-bottom: calc(var(--margin-primary) / 2);
}

.container-form form button {
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--color-active);
    border-color: var(--color-active);
    margin-bottom: calc(var(--margin-primary) / 2);
}
.container-form .more-link {
    margin-bottom: calc(var(--margin-primary) / 5);
}
.container-form form button:hover {
    color: var(--color-active);
    background-color: var(--color-bg-primary);
    border-color: var(--color-active);
}
.hero-login-img {
    display: flex;
    align-items: center;
    justify-content: end;
}
.hero-login-img img {
    width: 100%;
    height: auto;
}
