.container-form {
    padding-top: calc(var(--padding-primary) / 2);
}
.container-form a:hover {
    color: var(--color-active);
}

.container-form .sectoin-header h2 {
    font-size: 2.4rem;
    color: var(--color-darkest);
    text-align: center;
}
.card-form {
    border: none;
    background-color: transparent;
    margin-top: calc(var(--margin-primary) / 2);
}

form .input-form {
    margin-bottom: calc(var(--margin-primary) / 2);
}

.container-form form button {
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--color-active);
    border-color: var(--color-active);
    margin-bottom: calc(var(--margin-primary) / 2);
    width: 100%;
}
.section-signup form .input-form {
    margin-bottom: calc(var(--margin-primary) / 5);
}
.section-signup form button {
    margin-bottom: calc(var(--margin-primary) / 5);
}
.container-form .more-link {
    margin-bottom: calc(var(--margin-primary) / 5);
}
.container-form form button:hover {
    color: var(--color-active);
    background-color: var(--color-bg-primary);
    border-color: var(--color-active);
}
.hero-login-img {
    display: flex;
    align-items: center;
    justify-content: end;
}
.hero-login-img img {
    width: 80%;
    height: auto;
}
@media only screen and (min-width: 768px) {
    .container-form .sectoin-header {
        margin-bottom: calc(var(--margin-primary) / 2);
    }
    .container-form .sectoin-header h2 {
        text-align: left;
    }
    .container-form form button {
        width: fit-content;
    }
}
