main .section-hero {
    display: flex;
    min-height: 80vh;
    align-items: center;
}
main h1 {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: calc(var(--margin-primary) / 2);
}
main h1 span {
    color: var(--color-active);
    margin-left: 5px;
}

main .title-hero h3 {
    text-wrap: pretty;
    font-size: 1.6rem;
    margin-bottom: calc(var(--margin-primary) / 2);
}

main .section-hero .btnLink {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
}
main .section-hero #btn-signup,
main .section-hero #btn-login {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    border: 2px solid var(--color-active);
    border-radius: calc(var(--border-radius) / 2);
    transition: all 0.15s ease-in;
}
main .section-hero #btn-login {
    color: var(--color-active);
}

main .section-hero .btnLink #btn-login:hover {
    background-color: var(--color-active);
    color: var(--color-bg-primary);
}

main .section-hero #btn-signup {
    background-color: var(--color-active);
    color: var(--color-bg-primary);
    margin-right: 20px;
}
main .section-hero #btn-signup:hover {
    background-color: var(--color-bg-primary);
    color: var(--color-active);
}

.hero-img img {
    width: 100%;
}
