.card-profile {
    border: 0;
}

.card-form-profile input {
    width: 50%;
}

#userEmail label {
    margin-right: 20px;
}
#userEmail a {
    color: var(--color-primary-light);
}
.card-profile .password-option {
    display: flex;
    align-items: center;
}
.card-profile .password-option input {
    width: 40%;

    margin-right: 20px;
}
