@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root {
    /* Color */
    --color-bg-primary: #ebebeb;
    --color-bg-secondary: #ffffff;
    --color-primary: #025dfb;
    /* --color-bg-active: #dce9ff; */
    --color-bg-active: #ffe9de;
    --color-active: #fd7b38;
    --color-dark: #65676d;
    --color-darkest: #1b1b1b;

    /* Fonts */
    --font-family: 'Roboto', sans-serif;
    --font-weight-thin: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-bolder: 900;

    /* margin & padding */
    --distance-primary: 50px;
    --margin-primary: var(--distance-primary);
    --padding-primary: var(--distance-primary);

    /* font */
    --font-default: 1rem;

    /* Border-radius */
    --border-radius: var(--distance-primary);
}

a {
    text-decoration: none;
    color: var(--color-dark);
}
